* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    overflow: hidden;
}
a,
a:hover {
    color: #fff;
    text-decoration: none;
}
._root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Header */
.header {
    display: flex;
    width: 100%;
    padding: 0 90px;
    height: 90px;
    align-items: center;
}
.header .navbar {
    width: 100%;
}
.header .navbar ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .navbar ul li a {
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.header .navbar ul li .logo {
    font-weight: 700;
    font-family: 'Roboto Black', sans-serif;
}
.header .navbar ul li .hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 7px;
    width: 15px;
}
.header .navbar ul li .hamburger .top_line,
.header .navbar ul li .hamburger .bottom_line {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
}

.swiper-container {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    overflow: hidden;
}
.swiper-slide {
    width: 50%;
}
.swiper-wrapper {
    transition-delay: .5s;
}
.port-img {
    width: 100%;
    height: 100%;
    margin: auto;
}
.port-img img {
    width: 100%;
    overflow: hidden;
}
.port-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    height: 50px;
}
.port-text h4 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto Black', sans-serif;
    position: relative;
}
.port-text h4 .reveal {
    display: block;
    height: 50px;
}

.progress {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
}
.progress .progress_wrapper {
    background: #111;
}
.progress .progress_wrapper .swiper-pagination-progressbar-fill {
    background: #222;
}

@media screen and (max-width: 980px) {
    body {
        font-size: 12px;
    }
    .header {
        padding: 0 30px;
    }
    .header .navbar ul li a {
        font-size: 1.2em;
    }
}
